html, body, header, #viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#landing {
    height: 100%;
}

#landing {
    background-color: #ffa500;
    /*background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

#openNav {
  position: fixed;
  top: 10px;
  left: 10px;
  /*transform: translate(-50%, -50%);*/ /* this is for centering the button */
}

#logout {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

#comment-success, #workorder-success, #ajax-error {
  position: fixed;
  top: 40px;
  left: 50%;
  min-width: 40%;
  transform: translate(-50%, 0);
  display: none;
  z-index: 1060;
}

#mySidenav {
  /*height: 100%;*/
  width: 360px;
  max-width: 95%;
  max-height: 95%;
  position: fixed;
  z-index: 1;
  top: 58px;
  left: 10px;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 15px 10px 20px 10px;
  border-style: double;
  border-radius: 3px;
  border-color: #333;
}

#menuTitle {
  margin-left: 20px;
}

#closeNav {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}

.btn-maroon {
  color: #800000;
  border-width: 1px;
  border-color: #800000;
}
.btn-maroon:hover, .btn-maroon-full {
  color: white !important;
  background-color: #800000 !important;
}
.btn-maroon:active, .btn-maroon:focus, .btn-maroon-full:active, .btn-maroon-full:focus {
  box-shadow: 0 0 0 0.2rem rgba(128, 0, 0, 0.5) !important;
}

.btn-orange {
  color: #ff9933;
  border-width: 1px;
  border-color: #ff9933;
}
.btn-orange:hover, .btn-orange-full {
  color: white !important;
  background-color: #ff9933 !important;
}
.btn-orange:active, .btn-orange:focus, .btn-orange-full:active, .btn-orange-full:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 153, 51, 0.5) !important;
}

.btn-purple {
  color: #884dff;
  border-width: 1px;
  border-color: #884dff;
}
.btn-purple:hover, .btn-purple-full {
  color: white !important;
  background-color: #884dff !important;
}
.btn-purple:active, .btn-purple:focus, .btn-purple-full:active, .btn-purple-full:focus {
  box-shadow: 0 0 0 0.2rem rgba(136, 77, 255, 0.5) !important;
}

.sideButton {
  margin: 5px 3px 5px 3px;
}

.modal {
  overflow-y: scroll;
}

.modal-dialog {
    margin-top: 3vh;
}

#info-box {
  background-color: #f7fbff;
  border-color: #b3d6ff
}

.list-group {
  max-height: 300px;
  overflow: auto;
}

.list-group-item {
  word-break: break-all;
}

.timestamp {
  padding-left: 5px;
  text-align: right;
  min-width: 12%;
}

#required-text {
  position: absolute;
}

#myModal2 {
  z-index: 1052;
}

.modal-backdrop.show:nth-of-type(even) {
  z-index: 1051;
}

.checkbox {
  margin-left: 10px;
}

.form-group.required .control-label:after { 
  content:"*";
  color:red;
}