<div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-home-tab">
  <h4 class="text-center">Information</h4>

  <!-- INSERT TEMPLATE HERE -->


  <!-- Show user feedback -->
  <ul class="list-group">
    <h5 class="text-center">View feedback from other users...</h5>
    {% if data|length == 0 %}
    <h6 class="text-center">No comments yet!</h6>
    {% else %}
    {% for row in data %}
    <li class="list-group-item d-flex justify-content-between">
      <p class="mb-0">{{ row[1] }}</p>
      <small class="text-muted">{{ row[2] }}</small>
    </li>
    {% endfor %}
    {% endif %}
  </ul>
</div>
