<div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-home-tab">
  <h4 class="text-center">Information</h4>

  <!-- Cafes -->
  <!-- Open/closed indicator -->
  <div class="alert alert-success text-center" role="alert">
    This cafe/dining hall is currently <strong>open!</strong>
  </div>
  <div class="alert alert-danger text-center" role="alert">
    This cafe/dining hall is currently <strong>closed.</strong>
  </div>
  <!-- Description -->
  <h5>Description</h5>


  <!-- Dining halls -->
  <!-- Open/closed indicator -->
  <div class="alert alert-success text-center" role="alert">
    This cafe/dining hall is currently <strong>open!</strong>
  </div>
  <div class="alert alert-danger text-center" role="alert">
    This cafe/dining hall is currently <strong>closed.</strong>
  </div>
  <!-- Description -->
  <h5>Description</h5>
  <h5>Rescollege affiliation: Whitman</h5>
  <h5>Open to: students</h5>
  <h5>Capacity: 420</h5>
  

  <!-- Athletics -->
  <h5>Sports played: hockey, ice skating</h5>

  <!-- Vending -->
  <h5>Payment:</h5>
  <h5>Directions:</h5>

  <!-- Printers/scanners/macs -->
  <h5>Number of printers/scanners/macs: 5</h5>


  <!-- Show user feedback -->
  <ul class="list-group">
    <h5 class="text-center">View feedback from other users...</h5>
    {% if data|length == 0 %}
    <h6 class="text-center">No comments yet!</h6>
    {% else %}
    {% for row in data %}
    <li class="list-group-item d-flex justify-content-between">
      <p class="mb-0">{{ row[1] }}</p>
      <small class="text-muted">{{ row[2] }}</small>
    </li>
    {% endfor %}
    {% endif %}
  </ul>
</div>
