<div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-home-tab">
  <h4 class="text-center">Information</h4>

  <!-- Cafes -->
  <!-- Open/closed indicator -->
  <h5><i class="fas fa-circle" style="color:#00ff00;"></i> Open</h5>
  <h5><i class="fas fa-circle" style="color:#ff0000;"></i> Closed</h5>
  <!-- Description -->
  <h5><i class="fas fa-quote-left"></i> Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
  <h5>Open to: students</h5>

  <!-- Dining halls -->
  <!-- Open/closed indicator -->
  <h5><i class="fas fa-circle" style="color:#00ff00;"></i> Open</h5>
  <h5><i class="fas fa-circle" style="color:#ff0000;"></i> Closed</h5>
  <!-- Description -->
  <h5><i class="fas fa-quote-left"></i> Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
  <h5>Rescollege affiliation: Whitman</h5>
  <h5>Open to: students</h5>
  <h5><i class="fas fa-users"></i> Capacity: 420</h5>
  
  <!-- Athletics -->
  <h5><i class="fas fa-football-ball"></i> Sports played: hockey, ice skating</h5>

  <!-- Vending -->
  <h5><i class="fas fa-dollar-sign" style="color:green;"></i> Payment:</h5>
  <h5><i class="fas fa-directions"></i> Directions:</h5>

  <!-- Printers/scanners/macs -->
  <h5><i class="fas fa-print"></i> Printers: 5</h5>
  <h5><i class="fas fa-barcode"></i> Scanners: 5</i></h5>
  <h5><i class="fab fa-apple"></i> Macs: 5</h5>


  <!-- Show user feedback -->
  <ul class="list-group">
    <h5 class="text-center">View feedback from other users...</h5>
    {% if data|length == 0 %}
    <h6 class="text-center">No comments yet!</h6>
    {% else %}
    {% for row in data %}
    <li class="list-group-item d-flex justify-content-between">
      <p class="mb-0">{{ row[1] }}</p>
      <small class="text-muted">{{ row[2] }}</small>
    </li>
    {% endfor %}
    {% endif %}
  </ul>
</div>
