<!-- Show user feedback -->
<ul class="list-group" id="comment-group">
  <h5 class="text-center">View feedback from other users...</h5>
  {% if wasSuccessful==False %}
  <h6 class="text-center">Unable to load comments. Please try again later.</h6>
  {% else %}
  {% if data|length == 0 %}
  <h6 class="text-center">No recent comments!</h6>
  {% else %}
  {% for row in data %}
  <li class="list-group-item d-flex justify-content-between">
    <div class="comment more">{{ row[1] }}</div>
    <small class="text-muted timestamp">{{ row[2] }}</small>
  </li>
  {% endfor %}
  {% endif %}
  {% endif %}
</ul>