<!-- Water -->
<div class="alert" id="info-box">
  <h4 class="text-center">Information</h4>
  <hr>

  <div class="container">
    <div class="row">
      <h5><i class="fas fa-building fa-fw"></i> Floor: {{floor}}</h5>
    </div>
    <div class="row">
      <h5><i class="fas fa-directions fa-fw"></i> Directions: {{directions}} (Number/Letter by itself = floor)</h5>
    </div>
    <div class="row">
      <h5><a href="https://sustain.princeton.edu/resources/drink-local" target="_blank" rel="noopener noreferrer"> No directions listed or need more directions?</a></h5>
    </div>

  </div>
</div>
